body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


body {
  margin-right: auto;
  margin-left: auto;
}

footer {
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
}